.AltaMap {
  width: 100%;
  height: 100%;
  text-align: center;
}

#contextMenu {
  z-index: 999;
}

.altalogy-map {
  width: 100vw;
  min-height: 50vh;
  display: flex;
  overflow-x: hidden;
  position: relative;
}

.sr-only {
  display: none;
 }
